*{
    margin: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}


.navbar_bg{
    background-color: aquamarine;
}

.right_nav > svg{
    font-size: 12px;

}
.right_nav > .tee{
    background-color: orange;
    padding: 10px;
}
.nav-item{
    border-right: 2px solid black;
}
.prev_icon{
    background: #000;
}
.prev_icon > .carousel-control-prev-icon{
    color: black;
    
}


.main_box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
    z-index: 9;
}
.candiate_box{
    width: 200px;
    height: 200px;
    background: blueviolet;
    border: 5px solid white;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.candiate_box > svg{
    font-size: 40px;
}
.candiate_box > p{
    font-size: 18px;
    max-width: 100px;
    text-align: center;
    line-height: 1;
}



.left{
    text-align: center;
    width: 60%;
}
.left h2{
    font-size: 42px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
}
.left .des{
    background-color: rgb(255, 94, 0);
    color: white;
    max-width: 300px;
    font-size: 24px;
    margin: auto;
    
}
.left p{
    margin-top: 20px;
}


.right{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}


.minister{
    border-radius: 12px;
    overflow: hidden;
    position: relative;

}
.name{
    background-color: rgba(0, 0, 0, 0.863);
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding-top: 10px;
}

.skill_heading{
    font-size: 32px ;
   font-weight: 900;
}

.registration_box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
    border: 5px dashed gray;
    offset: 3px;
    outline: 2px solid blue;
    outline-offset: 20px;
}

#sumit{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}