* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
}
.right_nav > svg{
  font-size: 12px;
} 
.right_nav .te{
  background-color: orange;
  font-size: 20px;
  padding: 5px;
  height: 40px;
  width: 20px;
  text-align: center;
}

.navbar_bg {
  background-color: lightseagreen;
}

/* .nav-item::after{
 content: "|";
 width: 5px;
}
.mybox{
  width: 5px;
  height: 6px;
  background-color: black;
} */

.next_icon{
  background: #000;
  display: inline;
  /* height: 70px; */
}



.mybox{
  position: relative;
  bottom: 60px;
  z-index: 999;
}
.candidate_box{
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  color: white;
  border: 5px solid white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.candidate_box > svg {
  font-size: 40px;
}
.candidate_box > p {
  font-size: 18px;
  max-width: 100px;
  text-align: center;
  line-height: 1;
}


.minister{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.name{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 12px;
}