* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
}
.right_nav > svg{
  font-size: 12px;
} 
.right_nav .te{
  background-color: orange;
  font-size: 20px;
  padding: 5px;
  height: 40px;
  width: 20px;
  text-align: center;
}

.navbar_bg {
  background-color: lightseagreen;
}

/* .nav-item::after{
 content: "|";
 width: 5px;
}
.mybox{
  width: 5px;
  height: 6px;
  background-color: black;
} */